.controller {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

li {
    list-style: none;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 40vw;
    padding: 0;
}

.controller > ul {
    overflow: scroll;
}