body, html {
    /* background-image: linear-gradient(to bottom right, rgb(255, 255, 255) 0 20%, rgb(165, 161, 161) 100%); */
    background-color: rgb(151, 166, 197);
    font-family: sans-serif;
}
.controller {
    display: flex;
    height: 100vh;
}

li {
    list-style: none;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.controller > ul {
    overflow-y: auto;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.modal-child {
  position: absolute;
  background-color: rgb(247, 247, 247);
  height: 572px;
  min-width: 30vw;
  max-width: 30vw;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}
.modal-background-options {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.modal-child-options {
  position: absolute;
  background-color: rgb(247, 247, 247);
  min-width: 40vw;
  min-height: 30vh;
  max-width: 35vw;
  max-height: 30vh;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}

/* beyond index */

.subreddit-list {
    width: 20vw;
    border: .2px solid rgb(136, 136, 136);
    margin-right: 2vw;
    background-color: white;
    border-radius: 10px;
}

.controller ul:nth-child(2) {
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    border-radius: 10px;
}

.controller ul:nth-child(2) > ul {
    width: 70vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    border: .2px solid rgb(136, 136, 136);
    cursor: pointer;
    background-color: white;
}

.controller ul:nth-child(2) > ul > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.controller ul:nth-child(2) > ul > li > img {
    height: 10vh;
    width: 15vh;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
}

.controller ul:nth-child(2) > ul > li {
    max-width: 30vw;
    max-height: 15vh;
    overflow: hidden;
}

.subreddit-list img {
    height: 25vh;
    width: 25vh;
}

.subreddit-list * {
    cursor: pointer;
}

.subreddit-list :nth-child(2n - 1) {
    padding-top: 15px;
}