img {
    height: 100px;
    width: 100px;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.modal-child {
    position: absolute;
    background-color: rgb(247, 247, 247);
    max-height: 65vh;
    max-width: 50vw;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.col, .col > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col > div > div {
    display: flex;
}

h1 {
    text-align: center;
}

input {
    border: 1px solid rgb(184, 184, 184);
    padding: 5px;
    border-radius: 12px;
}

.post-index-item {
    display: flex;
    align-items: center;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 2px;
    padding: 10px;
    margin: 6px;
}

.post-index-item > * {
    padding: 2px;
}