html, body, #root {
    background-color: rgb(0, 0, 0);
}

* {
    font-family: serif;
}

img {
    height: 100px;
    width: 100px;
}

/* modal */
.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.modal-child {
    position: absolute;
    background-color: rgb(247, 247, 247);
    padding: 10px;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 80vh;
    max-width: 75vw;
    overflow: scroll;
}

.modal-child > ul, .modal-child li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-child > ul {
    overflow: scroll;
}

.close-button {
    margin-left: auto;
}
/* end modal */

/* layout */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.col, .col > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col > div > div {
    display: flex;
}

h1 {
    text-align: center;
    color: white;
}

input {
    text-align: center;
}

form {
    padding-bottom: 8px;
}

/* end layout */

/* post lists and items */
.post-index-item, .subreddit-list {
    display: flex;
    align-items: center;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 2px;
    padding: 10px;
    margin: 6px;
    background-color: white;
}

.post-index-item > * {
    padding: 2px;
}

#post-show-img {
    object-fit: contain;
    width: 600px;
    min-height: 400px;
    max-height: 600px;
}

.btn-secondary {
    background: rgb(172, 172, 172);
}
/* end post list and items */

/* subreddit list */
.subreddit-list {
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}

.subreddit-list > ul {
    text-align: center;
    padding: 20px 40px;
    border-radius: 4px;
}

.subreddit-list > ul:active {
    background-color: orange;
}

.subreddit-list > ul:hover , .post-index-item:hover {
    cursor: pointer;
    background-color: rgb(172, 172, 172);
}

.row > div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    border: 1px solid rgb(184, 184, 184);
    padding: 5px;
    border-radius: 12px;
}

.selected {
    background-color: rgb(148, 147, 147);
}

.loading {
    text-align: center;
    margin-top: 10%;
}
/* end subreddit list */

